<% provide(:title, 'DevNation Bank ATM') %>

<% if @customer %>
<h1><%= @customer.name %></h1>
<% else %>
<h1>Select Account</h1>
<% end %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:transaction, url: {controller: "transactions", action: "create"} ) do |f| %>

      <label for="withdrawl" >Withdrawl</label>
      <input type="radio" id="withdrawl" name="transaction_type" value="withdrawl" checked="checked" />
      <label for="deposit" >Deposit</label>
      <input type="radio" id="deposit" name="transaction_type	" value="deposit" />
      <%= f.label :amount %>
      <%= f.text_field :amount %>
      <br/>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
