<% provide(:title, 'DevNation Bank ATM') %>

<h1>Atm#show</h1>
<p>Find me in app/views/atm/show.html.erb</p>
<% if @customer %>
<h1><%= @customer.name %></h1>
<% else %>
<h1>Select Account</h1>
<% end %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:transaction, url: {controller: "transactions", action: "create"} ) do |f| %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
