<h1>Make Deposit</h1>
<%= form_for(@transaction, url: checking_accounts_deposit_path) do |f| %>
<!-- hidden fields -->
<%= f.hidden_field(:transaction_type, value: "deposit") %>
<%= f.hidden_field(:to_account, value: @checking_account.id) %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit "Make Deposit", class: "btn" %>
  </div>
<% end %>

