<% provide(:title, @customer.name) %>

<p id="notice"><%= notice %></p>

<h2>Personal</h2>
<p>
  <strong>Name:</strong>
  <%= @customer.first_name %>   <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<%= form_tag do %>
	<%= hidden_field_tag(:customer_id, @customer.id) %>
	<%= submit_tag("Add Checking Account", class: "btn btn-large btn-primary") %>
<% end %>

<h2>Accounts</h2>
<% if @customer.checking_accounts.any? %>

	<h3><% @customer.checking_accounts.count %> Checking <% pluralize(@customer.checking_accounts, 'Account') %></h3>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
